*{
  box-sizing:border-box;
  border:none;
  padding:0;
  margin:0;
}
button{
  border: 0.5px solid #888888;
}
.hide{
  display:none;
}
body{
}
.tile{
  position:absolute;
  display:table;
  border: 0.5px solid #AAAAAA;
  border-collapse: collapse;
  cursor: default;
  box-sizing: content-box;
}
.tile:hover{
  animation:flash 1.0s ease-in-out;
}
.whitetile{
  background:#FFFFFF;
}
.redtile{
  background:#FF8888;
}
.bluetile{
  background:#8888FF;
}
.agent{
  position:absolute;
  border: 0.5px solid #AAAAAA;
  bottom: 1px;
  right: 1px;
  text-align: center;
  vertical-align: middle;
}
.selected{
  border-color: #EEEE00
}

.blink{
  animation:blink 0.5s ease-in-out infinite alternate;
}

@keyframes blink{
  0% {opacity:1;}
  100% {opacity:0;}
}

@keyframes flash{
  0% {opacity:0.5}
  100% {opacity:1}
}